%section#cover
  = image_tag "Mucup1.png", {class: 'image-circle', height:'450', width: '538'}
  %h1 Maneja Eventos Caritativos
  %hr.heart-light
  %p.lead
    Sistema para crear eventos sin fines de lucro y seguir su desarrollo mientras llegas a tu meta.
%section#features
  %h2 Características:
  %ul.list-group
    %li.list-group-item
      = image_tag "create_event.png", {class: 'image-circle', height: "30"}
      Crear Eventos con un objetivo a conseguir.
    %li.list-group-item
      = image_tag "donacion.png", {class: 'image-circle', height: "30"}
      Registra donaciones a eventos.
    %li.list-group-item
      = image_tag "sorteo.png", {class: 'image-circle', height: "30"}
      Realiza sorteos.
    %li.list-group-item
      = image_tag "money.png", {class: 'image-circle', height: "30"}
      Crea cuentas bancarias y monitorea tus depositos.
