= render "sidebar"

.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  %h1.page-header Crea un Nuevo Evento
  %p.em Ingresa los datos requeridos:

  = error_messages_for(@event.errors)

  = form_for @event, html: {class: "form-horizontal"} do |f|
    = render partial: "form", locals: {f: f}

    .form-group
      .col-sm-offset-2.col-sm-10
        .btn-group{role: "group"}
          = f.submit "Actualizar", class: "btn btn-success btn-lg"
          = link_to @event, class: "btn btn-default btn-lg" do
            %span.fa.fa-times.fa-lg
            &nbsp;Cancelar
          - unless @event.tickets.any?
            = link_to @event, class: "btn btn-danger btn-lg", data: {method: 'delete', confirm: 'Estas Seguro?'} do
              %span.fa.fa-trash.fa-lg
              &nbsp;Eliminar
