= render "sidebar"

.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  %h1.page-header Crea un nuevo Patrocinador
  %p.em Ingresa los datos requeridos:

  = error_messages_for(@sponsor.errors)

  = form_for @sponsor, html: {class: "form-horizontal"} do |f|
    = render partial: "form", locals: {f: f}

    .form-group
      .col-sm-offset-2.col-sm-10
        .btn-group{role: "group"}
          = button_tag(type: "submit", class: "btn btn-default btn-lg") do
            %span.fa.fa-save.fa-lg
            &nbsp;Crear Patrocinador
          = link_to sponsors_path, class: "btn btn-default btn-lg" do
            %span.fa.fa-times.fa-lg
            &nbsp;Cancelar
