.form-group
  = f.label :sponsor_id, class: "col-sm-2 control-label"
  .col-sm-10
    = f.collection_select :sponsor_id, Sponsor.order(:name), :id, :name, {}, class: "form-control"
.form-group
  = f.label :description, class: "col-sm-2 control-label"
  .col-sm-10
    = f.text_area :description, class: "form-control", rows: "3"

.form-group
  = f.label :amount, class: "col-sm-2 control-label"
  .col-sm-10
    .input-group
      .input-group-addon Lps.
      = f.number_field :amount, class: "form-control"
