= render "events/sidebar"

.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main

  %h1.page-header= @event.name
  = render partial: "shared/notice_for"
  %h3 Gastos Incurridos

  .container-fluid
    .row
      - if @expenses.any?
        .table-responsive.js-sponsor-donations
          %table.table.table-striped
            %thead
              %th Descripcion
              %th Valor en Lps
              %th Fecha
            %tbody
              = render @expenses
      - else
        %em Aun no tienes ningún gasto para este evento
    %hr
    .row
      .col-xs-12.col-md-8
        %strong Monto total incurrido:
        %em= lempiras(@event.expenses.monto_total)
    %hr
    .row
      .btn-group{role: "group"}
        = link_to new_event_expense_path(@event), class: "btn btn-default" do
          %span.fa.fa-plus.fa-lg
          Agregar Gasto&nbsp;
        = link_to @event, class: "btn btn-default" do
          %span.fa.fa-chevron-left.fa-lg
          Volver&nbsp;


