!!!
%html
  %head
    %title Mucup
    = favicon_link_tag 'Mucup1.png'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, class: "navbar-brand" do
            %span.fa.fa-heart-o.fa-lg

        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to events_path do
                Eventos&nbsp;
                %span.fa.fa-ticket.fa-lg
            %li
              = link_to sponsors_path do
                Patrocinadores&nbsp;
                %span.fa.fa-gift.fa-lg

            %li
              %a{:href => "#"}
                Cuentas Bancarias&nbsp;
                %span.fa.fa-bank.fa-lg

            - if current_user.admin?
              %li
                = link_to users_path do
                  Usuarios&nbsp;
                  %span.fa.fa-users.fa-lg
            - else
              %li
                = link_to profile_users_path do
                  Profile&nbsp;
                  %span.fa.fa-user.fa-lg
            %li
              = link_to logout_path, data: {method: :delete, "no-turbolink" => true} do
                Cerrar Sesión&nbsp;
                %span.fa.fa-sign-out.fa-lg

    .container
      .row
        = yield

