!!!
%html
  %head
    %title Mom Draws
    = stylesheet_link_tag    'external', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .site-wrapper
      .site-wrapper-inner


        .masthead
          .inner
            %nav
              %h3.masthead-brand
                = link_to "MUCUP", root_path
              %ul.nav.masthead-nav
                %li
                  = link_to "Eventos", root_path
                - if current_user
                  %li
                    = link_to "Dashboard", '#'
                  %li
                    %a{:href => logout_path, "data-method" => "delete" }
                      %span.glyphicon.glyphicon-log-out{ "aria-hidden" => "true" }
                      Cerrar Sesión
                - else
                  %li
                    %a{:href => login_path}
                      %span.glyphicon.glyphicon-log-in{ "aria-hidden" => "true" }
                      Ingresar

        .cover-container

          .inner.cover
            = yield

          .mastfoot
            .inner
              %p
                Sistema creado para la fundación Mucup, by @
                %a{href:'twitter.com/carlos_gochez'}Carlos Gochez
